{% extends 'base.html' %}
{% from 'pitch_display_macro.html' import display_pitches %}
{% block content %}

<div class="overlay">
    <div class="bgimage">
        <div class="p-3 p-md-5 m-md-3 text-center bg-transparent">
            <div class="col-md-12 p-lg-5 mx-auto my-5">
                <h1 class="display-4">PITCH IT</h1>
                <hr class="hr">
                <p class="lead">THE BEST PITCH SITE </p>
                <div id="butt">
                    <a class="btn btn-outline-warning text-black" href="/new_post">New Pitch</a>
                    <a class="btn btn-outline-success" href="/posts">View Pitches</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}