{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div id="pitch" class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="">
                <input type="text" placeholder="Pitch title" width="750px">
                <input type="text" placeholder="Pitch IT" width="750px">
                <button class="btn btn-warning" href="">Submit</button>

            </form>
        </div>
        
        
    </div>
</div>
{% endblock %}